In [2]:
import sqlite3
from sqlite3 import Error
 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn
 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT *
        FROM FACILITIES
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
(0, 'Tennis Court 1', 5, 25, 10000, 200)
(1, 'Tennis Court 2', 5, 25, 8000, 200)
(2, 'Badminton Court', 0, 15.5, 4000, 50)
(3, 'Table Tennis', 0, 5, 320, 10)
(4, 'Massage Room 1', 9.9, 80, 4000, 3000)
(5, 'Massage Room 2', 9.9, 80, 4000, 3000)
(6, 'Squash Court', 3.5, 17.5, 5000, 80)
(7, 'Snooker Table', 0, 5, 450, 15)
(8, 'Pool Table', 0, 5, 400, 15)

/* Q10: Produce a list of facilities with a total revenue less than 1000.
The output of facility name and total revenue, sorted by revenue. Remember
that there's a different cost for guests and members! */

/* Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order */


/* Q12: Find the facilities with their usage by member, but not guests */


/* Q13: Find the facilities usage by month, but not guests */

In [138]:
conn = sqlite3.connect("sqlite_db_pythonsqlite.db")
cur = conn.cursor()
    
query1 = """
        SELECT *
        FROM FACILITIES
        """
cur.execute(query1)
 
rows = cur.fetchall()
 
# for row in rows:
#     print(row)

In [36]:
query1 = """
        SELECT *
        FROM members
        """
cur.execute(query1)
rows = cur.fetchall()
[i[0] for i in cur.description]

['memid',
 'surname',
 'firstname',
 'address',
 'zipcode',
 'telephone',
 'recommendedby',
 'joindate']

In [81]:
query1 = """
        SELECT  name,totalrevenue as p
        from (select name,sum(case when m.memid=0 then guestcost*slots
        else membercost*slots end) as totalrevenue
        from members m
        inner join bookings b  on m.memid=b.memid 
        inner join facilities f on b.facid=f.facid
        group by f.name) as k
        where totalrevenue<1000
        order by totalrevenue desc
        """
cur.execute(query1)
rows = cur.fetchall()
rows
# [i[0] for i in cur.description]

[('Pool Table', 270), ('Snooker Table', 240), ('Table Tennis', 180)]

In [35]:
query1 = """
        SELECT *
        FROM bookings
        """
cur= cur.execute(query1)
# rows = cur.fetchall()
# k.keys
[i[0] for i in cur.description]

['bookid', 'facid', 'memid', 'starttime', 'slots']

In [139]:
/* Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order */
query1 = """
        SELECT surname, firstname,recommendedby
        FROM members
        where memid !=0
        order by surname, firstname
        """
cur.execute(query1)
rows = cur.fetchall()
rows[0]

('Bader', 'Florence', '9')

In [ ]:
/* Q12: Find the facilities with their usage by member, but not guests */

In [109]:
query1 = """
        SELECT distinct name
        from (select name,m.memid from members m
        inner join bookings b  on m.memid=b.memid 
        inner join facilities f on b.facid=f.facid
        where not m.memid=0) as k
        """
cur.execute(query1)
rows = cur.fetchall()
rows

[('Table Tennis',),
 ('Massage Room 1',),
 ('Snooker Table',),
 ('Pool Table',),
 ('Tennis Court 1',),
 ('Squash Court',),
 ('Badminton Court',),
 ('Tennis Court 2',),
 ('Massage Room 2',)]

In [125]:
/* Q13: Find the facilities usage by month, but not guests */
query1 = """
        select distinct name, strftime('%m', starttime) as t from members m
        inner join bookings b  on m.memid=b.memid 
        inner join facilities f on b.facid=f.facid
        where not m.memid=0
        order by t,name
        
        """
cur.execute(query1)
rows = cur.fetchall()
rows

[('Badminton Court', '07'),
 ('Massage Room 1', '07'),
 ('Massage Room 2', '07'),
 ('Pool Table', '07'),
 ('Snooker Table', '07'),
 ('Squash Court', '07'),
 ('Table Tennis', '07'),
 ('Tennis Court 1', '07'),
 ('Tennis Court 2', '07'),
 ('Badminton Court', '08'),
 ('Massage Room 1', '08'),
 ('Massage Room 2', '08'),
 ('Pool Table', '08'),
 ('Snooker Table', '08'),
 ('Squash Court', '08'),
 ('Table Tennis', '08'),
 ('Tennis Court 1', '08'),
 ('Tennis Court 2', '08'),
 ('Badminton Court', '09'),
 ('Massage Room 1', '09'),
 ('Massage Room 2', '09'),
 ('Pool Table', '09'),
 ('Snooker Table', '09'),
 ('Squash Court', '09'),
 ('Table Tennis', '09'),
 ('Tennis Court 1', '09'),
 ('Tennis Court 2', '09')]